{% extends "base.html" %}
{% load static %}

{% block title %}Lista Censo Personas{% endblock %}

{% block contenido %}
<style>
    /* Ajustar el tamaño de fuente para todo el contenedor */
    .container {
        font-size: 20px; /* Puedes ajustar este valor según tu preferencia */
    }

    /* Aumentar el tamaño de fuente para los encabezados */
    h1 {
        font-size: 30px; /* Puedes ajustar este valor según tu preferencia */
    }

    /* Aumentar el tamaño de fuente para los elementos de la lista */
    .list-group-item {
        font-size: 18px; /* Puedes ajustar este valor según tu preferencia */
    }

    @media (min-width: 1400px) {
        .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            max-width: 1400px;
        }
    }

    /* Estilo para la columna "Acciones" */
    .acciones-column {
        white-space: nowrap; /* Evita que los botones se envuelvan en múltiples líneas */
    }

    /* Estilo para los botones de acciones */
    .acciones-column a {
        display: inline-block; /* Hace que los botones estén en línea y no se apilen */
        margin-right: 10px; /* Agrega espacio entre los botones */
    }

    /* Elimina el margen derecho del último botón */
    .acciones-column a:last-child {
        margin-right: 0;
    }

    /* Reducir el tamaño de fuente de las celdas de la tabla */
    .table th, .table td {
        font-size: 14px; /* Ajusta el tamaño según tus necesidades */
    }

    /* Reducir el espacio entre filas de la tabla */
    .table tbody tr {
        line-height: 1; /* Puedes ajustar el valor según tus necesidades */
    }
    /* Define una clase personalizada para los botones */
.custom-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}



</style>




<div class="card">
    <div class="card-body">
        <h2 class="card-title titulo">Listado General Personas</h2>
        <div class="table-responsive" style="min-height: 50vh;">
            <table class="table table-hover table-bordered align-middle" id="tblPersonas">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Jefe de Familia</th>
                        <th scope="col">Banco Receptor</th>
                        <th scope="col">Banco Emisor</th>
                        <th scope="col">Número de Referencia</th>
                        <th scope="col">Comprobante de Pago</th>
                        <th scope="col">Monto</th> 
                    </tr>
                </thead>

                <tbody>
                    {% for pago in ListaPagos %}
                    <tr>
                        <td>{{ pago.fecha }}</td>
                        <td>{{ pago.jefe_de_familia }}</td>
                        <td>{{ pago.banco_receptor }}</td>
                        <td>{{ pago.banco_emisor }}</td>
                        <td>{{ pago.numero_referencia }}</td>
                        <td>{{ pago.comprobante_pago }}</td>
                        <td>{{ pago.monto }}</td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




{% endblock %}



