<p style="text-align: center;"><strong>ACTA DE ENTREGA DE BOLSAS CLAP:</strong></p>
<p style="text-align: right;"><strong>Guanare, Portuguesa {{Fecha}} del {{Año}}<br /></strong></p>

<p style="text-align: right;">&nbsp;</p>
<p style="text-align: justify;">En el d&iacute;a {{Fecha}}, se llev&oacute; a cabo la entrega de bolsas del Comit&eacute; Local de Abastecimiento y Producci&oacute;n (CLAP) en Guanare, Portuguesa para el bloque {selected_bloque}. El objetivo de esta entrega es proporcionar alimentos b&aacute;sicos a las familias de la comunidad.</p>
<p>Firma de receptores:</p>
<table style="border-collapse: collapse; width: 98.9919%; height: 21px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 22.3791%; height: 18px;">Cedula:</td>
<td style="width: 23.5886%; height: 18px;">Nombre:</td>
<td style="width: 29.0323%; height: 18px;">Apellido:</td>
<td style="width: 25%; height: 18px;">Firma</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: center;">Firma del responsable de la entrega:</p>
<p>&nbsp;</p>
<p style="text-align: center;">____________________________________________</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>