{% extends 'base.html' %}

{% block contenido %}

<style>
/* styles.css */
/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 90px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}



.profile-container {
    text-align: center;
    padding: 20px;
}

.profile-container h1 {
    color: #333;
}

.profile-container p {
    margin: 10px 0;
    color: #555;
}

.edit-button {
    display: inline-block;
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #45a049;
}



</style>
<title>Perfil de Usuario</title>

<div class="container">
    <div class="card">
        <div class="profile-container">
            <h1>Perfil de Usuario</h1>
            
            <p><strong>Nombre de Usuario:</strong> {{ user.username }}</p>
            <p><strong>Nombre:</strong> {{ user.first_name }}</p>
            <p><strong>Apellido:</strong> {{ user.last_name }}</p>
            <p><strong>Correo Electrónico:</strong> {{ user.email }}</p>

            <!-- Botón de "Editar" que redirige a la página de edición -->
            <a href="{% url 'edit_profile' %}" class="edit-button">
                Editar Perfil
            </a>
        </div>
    </div>
</div>
{% endblock %}
